<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../css/template.css">
</head>
<body>
    <div class="payment-container">
        <h1>Payment Details</h1>
        <table class="payment-table">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name of Course</td>
                    <td>AI/ML</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>The course intoduces AI and ML, fundamental principles of ML on azure, features of computer vision workloads
                        on Azure, features of NLP workloads on Azure and features of conversational AI workloads on Azure.
                    </td>
                </tr>
                <tr>
                    <td>Number of Credits</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Duration</td>
                    <td>30 Hrs.</td>
                </tr>
                <tr>
                    <td>Fees</td>
                    <td>₹2800</td>
                </tr>
            </tbody>
        </table>
        <button class="pay-button" onclick="proceedToPayment()">Proceed to Payment</button>
    </div>
    <script>
        function proceedToPayment() {
            window.location.href = '/payment2';
        }
    </script>
</body>
</html>